# Build Directories
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# CMake
out/
build/

# Executables / Build Output
*.exe
*.dll
*.lib
*.exp
*.idb
*.pdb
*.ilk
*.obj
*.o
*.a
*.so
*.dylib

# Logs
*.log
*.tlog

# Visual Studio
.vs/
*.user
*.VC.db
*.VC.opendb
*.suo

# IntelliSense / Browse DB
*.ipch